@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
:root{
    --fnt1: Dubai, sans-serif;
    --fnt2: poppins, sans-serif;
    --fnt3: Lateef, cursive;
    --fnt4: Poiret One, cursive;

    --cor1: rgb(47, 79, 79);
    --cor2: rgb(15, 26, 26);
    --cor3: rgb(7, 11, 11);
}
@media screen and (min-width: 750px){
    main{
        max-width: 80vw;
        margin: auto;
    }
    header span.logo{
        font-size: 6.7rem;
    }
    nav a.menu{
        font-size: 1.5rem;
    }
    main section h2.subtitulo{
        font-size: 3rem;
    }
}

@media screen and (max-width: 470px){
    main section h2.subtitulo{
        font-size: 8rem;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fnt1);
    font-size: 1vw;
}

body{
    background-color: rgb(16, 57, 57, 0.97);
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    color: white;
    min-height: 17vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

header .logo{
    font-family: var(--fnt4);
    letter-spacing: 1.5px;
    font-size: 10rem;
    font-weight: bold;
    margin: 30px 0px;
    padding: 5px 25px;
    text-align: center;
    display: block;
    border: 2px solid white;
    box-shadow: 0px 0px 20px -7px white;
}

header .logo:hover{
    transform: scale(1.2);
    transition: 2s;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--cor2);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 3.5px 10px;
    font-size: 3.7rem;
    background-color:
}

nav a:hover{
    background-color: white;
    color: var(--cor2);
}

main{
    padding: 20px;
    margin: auto;
}

main section{
    margin-bottom: 20px;
}

main section div#click-warning{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 5px
}

main section div#click-warning img{
    width: 22px;
}

main section div#click-warning p{
    font-size: 13px;
    font-weight: bold;
    color: #0F1A1A;
}

main section h2{
    color: var(--cor2);
    font-family: var(--fnt4);
    border-bottom: 2px solid var(--cor2);
    font-size: 5.7rem;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    margin-top: 10px;
}

main section:not(.fotos) h2{
    margin-top: 40px;
}

footer{
    font-size: 15px;
    background-color: var(--cor2);
    padding: 5px;
    text-align: center;
    color: white;
}
footer a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
footer a:hover{
    color: var(--cor1)
    
}