@charset "UTF-8";

.pic{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.552);
}
.pic:active{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;

}

#p1{
    background-image: url(images/foto1.jpg);
}
#p2{
    background-image: url(images/foto2.jpg);
}
#p3{
    background-image: url(images/foto3.jpg);
}
#p4{
    background-image: url(images/foto4.jpg);
}
#p5{
    background-image: url(images/foto5.jpg);
}
#p6{
    background-image: url(images/foto6.jpg);
}
#p7{
    background-image: url(images/foto7.jpg);
}
#p8{
    background-image: url(images/foto8.jpg);
}
#p9{
    background-image: url(images/foto9.jpg);
}
#p10{
    background-image: url(images/foto10.jpg);
}
#p11{
    background-image: url(images/foto12.jpg);
}
#p12{
    background-image: url(images/foto13.jpg);
}