@charset "UTF-8";

#d1{
    background-image: url(images/foto1.jpg);
}
#d2{
    background-image: url(images/foto2.jpg);
}
#d3{
    background-image: url(images/foto3.jpg);
}
#d4{
    background-image: url(images/foto4.jpg);
}
#d5{
    background-image: url(images/foto5.jpg);
}
#d6{
    background-image: url(images/foto6.jpg);
}
#d7{
    background-image: url(images/foto7.jpg);
}
#d8{
    background-image: url(images/foto8.jpg);
}
#d9{
    background-image: url(images/foto9.jpg);
}
#d10{
    background-image: url(images/foto10.jpg);
}
#d11{
    background-image: url(images/foto12.jpg);
}
#d12{
    background-image: url(images/foto13.jpg);
}
#d13{
    background-image: url(images/foto14.jpg);
}
#d14{
    background-image: url(images/foto15.jpg);
}
#d15{
    background-image: url(images/foto16.jpg);
}