@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
:root{
    --fntpad: Dubai, sans-serif;
    --fnth1: Lateef, cursive;
    --fntpad2: poppins, sans-serif;
    --corh1: rgb(27, 44, 44);
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--fntpad);
}
ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: var(--fntpad2);
}
header{
    display: flex;
    justify-content: space-around;
    background-color: darkslategray;
    padding: 10px 0px;
    align-items: center;
    flex-wrap: wrap;
}
header>a{
    color: white;
    font-family: var(--fntpad);
    font-size: 2.2em;

    letter-spacing: 5px;
    text-shadow: 1px 1px 1px black;
    font-weight: 100;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu{
    display: flex;
    justify-content: center;
}
.menu li{
    margin-right: 25px;
}
.menu a{
    border-left: 1px solid rgb(33, 56, 56);
    border-right: 1px solid rgb(33, 56, 56);
    padding: 3px 5px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
main h1{
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--corh1);
    font-family: var(--fntpad);
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 3px;
    color: var(--corh1);
}
main img{
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
main section{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.foto{
    text-align: center;
    margin: 23px;
}
.foto p{
    font-weight: bold;
    margin-top: 10px;
}
/*

border: 1px solid black



*/
